@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

:root {
    --navbar-bg: grey;
    --navbar-text: white;
    --hero-bg: white;
    --hero-title: black;
    --hero-subtitle: #c6c6c6;
    --info-bg: grey;
    --info-text: white;
    --info-hyperlink: #a000e0;
}

body {
    font-family: 'Roboto';
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.navbar {
    background: var(--navbar-bg);
    color: var(--navbar-text);
    text-decoration: none;
    display: flex;

    .navbar-item {
        float: left;
        list-style-type: none;
        margin-left: 1em;
        font-size: 2em;
        a {
            text-decoration: none;
            color: var(--navbar-text);
        }
    }

}


.hero {
    text-align: center;
    background: var(--hero-bg);
    color: var(--hero-title);

    padding: 5em;

    .title {
        font-weight: 500;
        font-size: 5em;
    }

    .subtitle {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.5em;
        letter-spacing: .2em;
        color: var(--hero-subtitle);
    }
}


.info {
    text-align: center;
    background: var(--info-bg);
    color: var(--info-text);
    
    padding: 2em;

    .text {
        font-size: 1.75em;

        a {
            color: var(--info-hyperlink);
        }
    }
}