@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');


$navbar-bg: #2D080A;
$navbar-text: #FFCDBC;
$hero-bg: #F5853F;
$hero-title: #130303;
$hero-subtitle: #FFCDBC;
$info-bg: #2D080A;
$info-text: #FFCDBC;
$info-hyperlink: #7C3626;

@keyframes popup {
    0% {
        scale: 0%;
    }
    100% {
        scale: 100%;
    }
}

body {
    font-family: 'Roboto';
    font-weight: 300;
    margin: 0;
    padding: 0;
    background: $hero-bg;
}

.navbar {
    background: $navbar-bg;
    color: $navbar-text;
    text-decoration: none;
    display: flex;

    .navbar-item {
        animation: popup .5s;
        float: left;
        list-style-type: none;
        margin-left: 4em;
        font-size: 2em;
        a {
            text-decoration: none;
            color: $navbar-text;
        }
    }

}

.hero {
    text-align: center;
    background: $hero-bg;
    color: $hero-title;

    padding: 3em;

    .title {
        animation: popup .75s;
        font-weight: 500;
        font-size: 5em;
    }

    .subtitle {
        animation: popup 1s;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.5em;
        letter-spacing: .2em;
        color: $hero-subtitle;
    }
}


.info {
    text-align: center;
    background: $info-bg;
    color: $info-text;

    .text {
        animation: popup .75s;
        font-size: 1.75em;
        padding: 4em;

        a {
            color: $info-hyperlink;
            text-decoration: none;
        }
    }
}