@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');


$navbar-bg: #34312D;
$navbar-text: #F3F3F4;
$hero-bg: #14110F;
$hero-title: #F3F3F4;
$hero-subtitle: #F3F3F4;
$content-text: #F3F3F4;
$content-hyperlink: #F9B5A2;

@keyframes popup {
    0% {
        scale: 0%;
    }
    100% {
        scale: 100%;
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box
}

body {
    font-family: 'Roboto';
    font-weight: 300;
    background: $hero-bg;
}

.navbar {
    background: $navbar-bg;
    color: $navbar-text;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    padding: .75em;

    .navbar-list {
        display: flex;
        .navbar-item {
            animation: popup .5s;
            list-style-type: none;
            margin: .25em;
            font-size: 2em;
            flex: 1;
            a {
                text-decoration: none;
                color: $navbar-text;
            }
        }
    }
}

.hero {
    text-align: center;
    background: $hero-bg;
    color: $hero-title;

    padding: 3em;
    margin-bottom: 5em;

    .title {
        animation: popup .75s;
        font-weight: 500;
        font-size: 9em;
        margin: .5em;
    }

    .subtitle {
        animation: popup 1s;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.5em;
        letter-spacing: .2em;
        color: $hero-subtitle;
    }
}

.info {
    text-align: center;
    color: $content-text;
    width: 66%;
    margin: auto;

    .text {
        animation: popup .75s;
        font-size: 2em;
        padding: 4em;
        letter-spacing: .05em;
        line-height: 1.5em;

        a {
            color: $content-hyperlink;
            text-decoration: none;
        }
    }
}

.itch-io {
    color: $content-text;
    background: $hero-bg;
    margin-bottom: 1em;
    display: grid;
    grid-column-gap: 1em;
    text-align: center;
    
    .section-title {
        animation: popup 1s;
        font-weight: 100;
        font-size: 4em;
        padding: 1em;
    }

    .list {
        color: $content-text;
        margin-bottom: 1em;
        display: grid;
        grid-column-gap: 1em;
        animation: popup 1s;
        list-style-type: none;
        .items {
            animation: popup 1s;
            font-size: 3em;
            font-weight: 300;
            margin-bottom: 2em;
            a {
                color: $content-hyperlink;
                text-decoration: none;
            }
        }
    }
}

.links {
    animation: popup 1s;
    color: $content-text;
    margin-bottom: 20em;
    text-align: center;

    .list {
        animation: popup 1s;
        list-style-type: none;
        .items {
            animation: popup 1s;
            font-size: 3em;
            font-weight: 300;
            margin-bottom: 1em;

            a {
                color: $content-hyperlink;
                text-decoration: none;
            }
        }
    }
}