@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
@-webkit-keyframes popup {
  0% {
    scale: 0%;
  }
  100% {
    scale: 100%;
  }
}
@keyframes popup {
  0% {
    scale: 0%;
  }
  100% {
    scale: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-weight: 300;
  background: #14110F;
}

.navbar {
  background: #34312D;
  color: #F3F3F4;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  padding: .75rem;
}

.navbar .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-list .navbar-item {
  -webkit-animation: popup .5s;
          animation: popup .5s;
  list-style-type: none;
  margin: .25rem;
  font-size: 2.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar .navbar-list .navbar-item a {
  text-decoration: none;
  color: #F3F3F4;
}

.hero {
  text-align: center;
  background: #14110F;
  color: #F3F3F4;
  padding: 5rem 0rem;
  margin-bottom: 5rem;
}

.hero .title {
  -webkit-animation: popup .75s;
          animation: popup .75s;
  font-weight: 500;
  font-size: 9rem;
  margin: 5rem 0rem;
}

.hero .subtitle {
  -webkit-animation: popup 1s;
          animation: popup 1s;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: .2rem;
  color: #F3F3F4;
}

.info {
  text-align: left;
  color: #F3F3F4;
  width: 66%;
  margin: auto;
}

.info .text {
  -webkit-animation: popup .75s;
          animation: popup .75s;
  font-size: 2.5rem;
  padding: 4rem 0rem;
  letter-spacing: .05rem;
  line-height: 4rem;
}

.info .text a {
  color: #F9B5A2;
  text-decoration: none;
}

.itch-io {
  color: #F3F3F4;
  background: #14110F;
  margin-bottom: 1rem;
  grid-column-gap: 1rem;
  text-align: center;
}

.itch-io .section-title {
  -webkit-animation: popup 1s;
          animation: popup 1s;
  font-weight: 100;
  font-size: 4rem;
  padding: 6rem 0rem;
}

.itch-io .list {
  color: #F3F3F4;
  margin-bottom: 1em;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1em;
  -webkit-animation: popup 1s;
          animation: popup 1s;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.itch-io .list .items {
  -webkit-animation: popup 1s;
          animation: popup 1s;
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 2em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 25%;
}

.itch-io .list .items a {
  color: #F9B5A2;
  text-decoration: none;
}

.github {
  color: #F3F3F4;
  background: #14110F;
  margin-bottom: 1rem;
  grid-column-gap: 1rem;
  text-align: center;
}

.github .section-title {
  -webkit-animation: popup 1s;
          animation: popup 1s;
  font-weight: 100;
  font-size: 4rem;
  padding: 6rem 0rem;
}

.github .list {
  color: #F3F3F4;
  margin-bottom: 1rem;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1rem;
  -webkit-animation: popup 1s;
          animation: popup 1s;
  list-style-type: none;
}

.github .list .items {
  -webkit-animation: popup 1s;
          animation: popup 1s;
  margin-bottom: 5rem;
}

.github .list .items a .github-card {
  display: inline-block;
  background: #000000;
  padding: 1rem;
  border-radius: 1.5rem;
}

.github .list .items a .github-card .header {
  font-weight: 500;
  font-size: 3rem;
  color: #F9B5A2;
  text-decoration: none;
}

.github .list .items a .github-card .text {
  font-weight: 300;
  font-size: 2rem;
  color: #F3F3F4;
  text-decoration: none;
}

.links {
  -webkit-animation: popup 1s;
          animation: popup 1s;
  color: #F3F3F4;
  margin-bottom: 20rem;
  text-align: center;
}

.links .list {
  -webkit-animation: popup 1s;
          animation: popup 1s;
  list-style-type: none;
}

.links .list .items {
  -webkit-animation: popup 1s;
          animation: popup 1s;
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.links .list .items a {
  color: #F9B5A2;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .navbar .navbar-list .navbar-item {
    font-size: 1.5rem;
  }
  .hero .title {
    font-size: 6rem;
  }
  .info {
    width: 80%;
  }
  .info .text {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .itch-io .section-title {
    font-size: 4rem;
  }
  .itch-io .list .items {
    min-width: 75%;
  }
  .github {
    margin-bottom: 1rem;
    grid-column-gap: 1rem;
  }
  .github .section-title {
    font-size: 4rem;
  }
  .github .list {
    margin-bottom: 1rem;
    grid-column-gap: 1rem;
    -webkit-animation: popup 1s;
            animation: popup 1s;
  }
  .github .list .items {
    margin-bottom: 2rem;
  }
  .github .list .items a .github-card {
    padding: .75rem;
  }
  .github .list .items a .github-card .header {
    font-weight: 500;
    font-size: 2.5rem;
  }
  .github .list .items a .github-card .text {
    font-weight: 300;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1200px) {
  .itch-io .section-title {
    font-size: 4rem;
  }
  .itch-io .list .items {
    min-width: 40%;
  }
}
/*# sourceMappingURL=main.css.map */