
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap');

:root {
    --title-fg: #fff;
    --accordion-header-fg: #fff;
    --accordion-header-bg1: #444;
    --accordion-header-bg2: #777;
    --accordion-body-bg: #333;
    --accordion-body-button-bg1: #14a;
    --accordion-body-button-bg2: #d36;
    --accordion-body-button-fg: #fff;
    --highlight: #f0a;
    --bg: #050507;
}

* {
    margin: 0;
    padding: 0; 
    transition: all 0.25s;
}

body {
    font-family: 'Roboto';
    font-weight: 300;
    background-color: var(--bg);
}

img {
    width: 80%;
}

code {
    text-align: center;
    font-family: Consolas,"courier new";
    color: crimson;
}

.main-title {
    margin: 2rem;
    color: var(--title-fg);
}

.main-title-text {
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    text-shadow: 5px 5px 10px black;
}

.main-title-subtext {
    margin: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--title-sub-fg);
}

.main-title-description {
    max-width: 45rem;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 100;
    color: var(--fg-primary);
    margin: auto;
    margin-bottom: 15rem;
}

.title-text {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    text-shadow: 5px 5px 10px black;
    margin-top: 2rem;
    color: var(--title-fg);
}

.content {
    background-color: #333;
    margin: 0 10%;
    padding: 1rem;
}

.button-wrapper {
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.button {
    text-align: center;
    background: linear-gradient(50deg, var(--accordion-body-button-bg1), var(--accordion-body-button-bg2));
    color: var(--accordion-body-button-fg);
    padding: 1rem;
    margin: 2rem 25%;
    border-radius: 1rem;
    border: none;
    font-weight: 200;
    font-size: 1.5rem;
    box-shadow: none;
    transform: scale(1);
}

.button:hover {
    box-shadow: 5px 5px 5px black;
    transform: scale(1.1);
}