
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap');

:root {
    --title-fg: #fff;
    --accordion-header-fg: #fff;
    --accordion-header-bg1: #444;
    --accordion-header-bg2: #777;
    --highlight: #f0a;
    --bg: #050507;
}

* {
    margin: 0;
    padding: 0; 
    transition: all 0.25s;
}

body {
    font-family: 'Roboto';
    font-weight: 300;
    background-color: var(--bg);
}

img {
    width: 80%;
}

.main-title {
    margin: 10rem 2rem 2rem;
    color: var(--title-fg);
}

.main-title-text {
    text-align: center;
    font-size: 7rem;
    font-weight: 200;
    text-shadow: 5px 5px 10px black;
}

.main-title-subtext {
    margin: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--title-sub-fg);
}

.main-title-description {
    max-width: 45rem;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 100;
    color: var(--fg-primary);
    margin: auto;
    margin-bottom: 15rem;
}

.title-text {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    text-shadow: 5px 5px 10px black;
    margin-top: 2rem;
    color: var(--title-fg);
}

.accordion {
    width: 90%;
    margin: 2rem auto;
}

.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 2rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
    background: linear-gradient(90deg, var(--accordion-header-bg1), var(--accordion-header-bg2));
    color: var(--accordion-header-fg);
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;

    font-weight: 300;
    font-size: 2rem;

    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}
